

<section class="rvp-main">

        {% if section.settings.title != blank  %}
             <h1 class="section-title">{{ section.settings.title }}</h1>
        {% endif %}
        
       <span class="sub-title">{{ section.settings.sub_title }}</span>

       <div class="rv-products">
         
{{  section.settings.rv_products  | json }}

         {% for products in section.settings.rv_products %}

             {{ products | json }}
         {% endfor %}
         
       </div>

  
  
</section>








{% schema %}
  {
    "name": "Recently Viewed Products",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title"
      },
       {
        "type": "text",
        "id": "sub_title",
        "label": "Section Sub Title"
      },
      {
        "type": "header",
        "content": "Recently Viewed"
      },
      {
        "type": "product_list",
        "id": "rv_products",
        "label": "Recently Products"
      },
      {
        "type": "text",
        "id": "desktop_count",
        "label": "Products on Desktop"
      }
    ],
    "presets": [
      {
        "name": "Recently Viewed Products"
      }
    ]
  }
{% endschema %}