.rvp-main {
    margin-top: 50px;
}
.rvp-main h1.section-title {
    margin-block: 0;
    text-align: center;
    font-size: 37px;
    letter-spacing: normal;
}
.rvp-main .sub-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 5px;
}
.rvp-main .rv-products {
    margin-top: 50px;
    overflow: hidden;
}
.rv-products-box > img {
    max-width: 100%;
}
.rv-products-box {
    background: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
}
.rv-products-box .rv-products-box-info {
    padding: 15px;
}
.rv-products-box .rv-products-box-info h3 {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: normal;
    font-size: 17px;
    letter-spacing: normal;
}
.rv-products-box-info .product-description, .rv-products-box-info .product-description p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: normal;
    font-size: 14px;
    margin: 0;
}







